@import "styleGeral.css";

.section-container {
  display: flex;
  flex-direction: column;
  padding: 32px 0;
  align-items: center;
}

.inner-card {
  border: 1px solid #0000001a;
  border-radius: 5px;
  padding: 5px;
  box-shadow: #00000033 0px 0px 5px 0px inset;
  height: 365px;
  max-height: 365px;
  background-color: #d9d9d9;
}

.inner-card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #00000050;
  padding: 12px;
  font-size: 1.2rem;
  background-color: #fff;
}

.card-pendente {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #00000050;
  margin-bottom: 6px;
}

.btn-concluir {
  border: 1px solid rgb(0, 255, 55);
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(184, 241, 191);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-excluir {
  border: 1px solid red;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(244, 153, 153);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-name {
  font-size: 0.8rem;
}
