@import "styleGeral.css";

.banner-section {
  height: 60vh;
  background-image: url(../Assets/Banner2.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
