@import "styleGeral.css";

.body {
  background-image: url(../Assets/ServiceBanner.png);
  background-size: cover;
  height: 100vh;
}
#linkLogin {
  margin-left: 15%;
  margin-top: 2%;
}
.form-card {
  background-color: #0f0f0f;
  opacity: 95%;

  border-radius: 25px;
  padding: 25px;
  color: white;
}
#btn2 {
  background-color: #0052bd;
  color: #ffffff;
}
#label {
  margin-left: 10%;
  width: 80%;
  color: #ffffff;
}
