@import "styleGeral.css";

.banner-section {
  height: 60vh;
  background-image: url(../Assets/ServiceBanner.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-section {
  margin: 60px 0;
}
