@import "styleGeral.css";

.body {
  background-image: url(../Assets/ServiceBanner.png);
  background-size: cover;
}
#Nav {
  background-color: #000000;
}
#NavLink {
  margin-left: 4%;
}
#Link {
  color: white;
}
#imgLogo {
  width: 20%;
  margin-left: 2%;
}

#Form {
  background-color: #0f0f0f;
  opacity: 95%;
  margin-left: 10%;
  border-radius: 2%;
  margin-top: 0%;
}
#btn2 {
  margin-left: 70%;
  margin-top: -7%;
  margin-bottom: 3%;
  background-color: #0052bd;
  color: #ffffff;
}
#label {
  margin-left: 10%;
  width: 80%;
  color: #ffffff;
}
#Form2 {
  margin-right: 10%;
  border: none;
}
#header-servico {
  background-color: #0f0f0f;
  opacity: 95%;
  color: #ffffff;
}
#btn3 {
  margin-left: 0%;
  margin-top: 3%;
  width: 50%;
  background-color: #0052bd;
  color: #ffffff;
}

#info_services {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: large;
}
